<% include ../partials/header %>
<div class="ui main text container segment">
    <div class="ui huge header">New Blog</div>
    <form class="ui form" action="/blogs" method="POST">
        <div class="field">
            <label>Title</label>
            <input type="text" name="blog[title]" placeholder="title">
        </div>
        <div class="field">
            <label>Image</label>
            <input type="text" name="blog[image]" placeholder="image">
        </div>
        <div class="field">
            <label>Blog Content</label>
            <textarea name="blog[body]"></textarea>
        </div>
        <input class="ui floated primary button" type="submit" value="Submit">
        <div class="extra">
            <a class="ui floated secondary button" href="/blogs/">
                <i class="left chevron icon"></i>Go back
            </a>
        </div>
    </form>
</div>

<br>

<% include ../partials/footer %>