body {
    text-align: justify;
    font-size: 1em;
    background-color: #f6f6f6;
}

.header {
    text-align: left;
}

i.icon {
    font-size: inherit;
}

.angle.icon.up.addComment {
    padding-left: 0.35em;
    display: none;
}

.dropdown.icon.addComment {
    padding-left: 0.35em;
}

.container.main {
    margin-top: 7.0em;
}

.extra {
    float: right;
    text-align: right;
}

.postUsername {
    font-weight: bold;
    color: rgba(0,0,0,.87);
}

.postDate {
    color: rgba(0, 0, 0, 0.6);
    font-style: italic;
}

.flashMessageWrapper {
    position: absolute;
    top: 2.0em;
    z-index: 1;
    width: 100%;
}

.flashMessage {
    padding-top: 3.5em;
    text-align: center;
}

.centered {
    text-align: center;
}

.heightener {
    height: 2.0em;
}

.ui.segment:last-child {
    margin-bottom: 4.0em;
}

/*menu logic for large and smaller screen sizes*/

/*hide for bigger screens*/
#headerMenuDropdown, #headerUserMenuDropdown {
    display: none;
}

@media only screen and (max-width: 768px) {
    
    /*show for smaller screens*/
    #headerMenuDropdown, #headerUserMenuDropdown {
        display: flex;
    }
    
    /*hide for smaller screens*/
    #signIn, #register, #headerMenuBlog, #headerMenuNewBlog, #headerProjectName {
        display: none;
    }
    
}

#signOutIcon {
    color: #2185d0;
}

#loginMenu {
    position: absolute;
    right: 0;
    height: 100%;
    padding-right: 5%;
} 

#userOptions {
    height: 100%;
}

#blogOptionsForm {
    display: none;
    float: right;
}

#signIn {
    float: right;
}

#navbar {
    height: 3.8em;
    padding-left: 5%;
}

#userIcon {
    color: #2185d0;
}

#addComment {
    cursor: pointer;
}

#editBlog {
    float: right;
    font-size: 1rem;
}